<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>36860086726-h82not7je6agq9h46giu0tkcup61120r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36860086726-h82not7je6agq9h46giu0tkcup61120r</string>
	<key>API_KEY</key>
	<string>AIzaSyCp5aZ2y7OeRjcvfTuL4X0FwIPCJwLGZ_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>36860086726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tw.mikelily.num25</string>
	<key>PROJECT_ID</key>
	<string>oneto25-mike</string>
	<key>STORAGE_BUCKET</key>
	<string>oneto25-mike.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:36860086726:ios:bd2e5108abc9fab3</string>
	<key>DATABASE_URL</key>
	<string>https://oneto25-mike.firebaseio.com</string>
</dict>
</plist>
